name: CI/CD Pipeline

on:
  pull_request:
    branches: [main]

jobs:
  build-push-deploy:
    runs-on: ubuntu-latest
    steps:
    - name: deploy
        id: branch-deploy
        uses: github/branch-deploy@v8.0.0

      - name: Check Out Repo
        if: ${{ steps.branch-deploy.outputs.continue == 'true' }}
        uses: actions/checkout@v4
        with:
          ref: ${{ steps.branch-deploy.outputs.ref }}

      - name: Build Docker Image
        run: docker build -t ghcr.io/${{ github.repository }}/cicd-linode:v1 .

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GHCR_PAT }}

      - name: Push to GitHub Container Registry
        run: docker push ghcr.io/${{ github.repository }}/cicd-linode:v1

      - name: SSH and Deploy on Server
        if: ${{ steps.branch-deploy.outputs.continue == 'true' && steps.branch-deploy.outputs.noop != 'true' }}
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.REGISTRY_USERNAME }}
          password: ${{ secrets.REGISTRY_PASSWORD }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            echo ${{ secrets.GHCR_PAT }} | docker login ghcr.io -u ${{ secrets.GHCR_USERNAME }} --password-stdin
            docker pull ghcr.io/${{ github.repository }}/cicd-linode:v1
            docker stop cicd-linode || true
            docker rm cicd-linode || true
            docker run -d --name cicd-linode -p 2000:2000 ghcr.io/${{ github.repository }}/cicd-linode:v1

